.App {
  text-align: center;
  border: solid 1px;
  width: 300px;
  background-color: beige;
  margin: auto;
}

.button {
  display: flex;
  justify-content: space-around;
}

.add {
  border-radius: 50px;
  width: 130px;
  margin-bottom: 30px;
  background-color: brown;
}
